p {
  font-size: @font-size-md;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}

.text-color-click {
  color: #1989fa;
}
.text-color-danger {
  color: #ee0a24;
}
.text-color-success {
  color: @green;
}
.text-color-disable {
  color: @gray-5;
}
